In [25]:
import pandas as pd

In [26]:
df1 = pd.read_pickle('data/gan_generated/sample_no_ei.pickle')
dftemp = pd.read_pickle('data/gan_dataprep/train_gan.pickle')

In [27]:
df1.columns = dftemp.columns

In [28]:
df1.head()

,VehPower,VehAge,DrivAge,Density,BonusMalus,Exposure,ClaimNb_0.0,ClaimNb_1.0,ClaimNb_2.0,ClaimNb_3.0,...,Region_R83,Region_R91,Region_R93,Region_R94,Area_A,Area_B,Area_C,Area_D,Area_E,Area_F
0,0.229657,0.363335,0.177399,0.016513,0.248371,0.375523,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.432339,0.203230,0.186565,0.076455,0.279598,0.546269,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.378937,0.483627,0.102161,0.128219,0.187164,0.237351,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.145242,0.069385,0.262811,0.017829,0.079022,0.632555,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.289994,0.190372,0.537585,0.068592,0.000000,0.125232,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
from Functions.MC_WGAN_GP.gan_scripts.undo_dummy import back_from_dummies

back_from_dummies()

In [ ]:
from Functions.original.utils.initialization import load_or_initialize
from Functions.original.utils.commandline import parse_int_list
from Functions.original.methods.general.generator import Generator


generator = Generator(
    128,
    [
    1, 1, 1, 1, 1, 1,
    5, 11, 2, 22, 6
  ],
    hidden_sizes=parse_int_list("256,128"),
    bn_decay=0.9
)

load_or_initialize(generator, options.input_generator)

In [ ]:
generator = Generator(
    128,
    [
    1, 1, 1, 1, 1, 1,
    5, 11, 2, 22, 6
  ],
    hidden_sizes=parse_int_list("256,128"),
    bn_decay=0.9
)

load_or_initialize(generator, options.input_generator)

In [23]:
df1.columns = dftemp.columns

In [24]:
df1.head()

,VehPower,VehAge,DrivAge,Density,BonusMalus,Exposure,ClaimNb_0.0,ClaimNb_1.0,ClaimNb_2.0,ClaimNb_3.0,...,Region_R83,Region_R91,Region_R93,Region_R94,Area_A,Area_B,Area_C,Area_D,Area_E,Area_F
0,0.096694,0.572989,0.288795,0.096326,-0.072200,0.730675,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.137488,0.301241,0.436719,-0.016751,0.187492,0.439164,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.435466,0.410859,0.078249,0.094271,-0.042933,0.565513,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.199931,0.466665,0.214707,0.011067,-0.042507,0.822183,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.213525,0.739755,0.278413,0.019686,-0.035398,0.799710,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [20]:
from Functions.MC_WGAN_GP.gan_scripts.undo_dummy import back_from_dummies

back_from_dummies()

,VehPower,VehAge,DrivAge,Density,BonusMalus,Exposure,ClaimNb_0.0,ClaimNb_1.0,ClaimNb_2.0,ClaimNb_3.0,...,Region_R83,Region_R91,Region_R93,Region_R94,Area_A,Area_B,Area_C,Area_D,Area_E,Area_F
0,0.347992,0.802519,0.889336,0.069813,0.000000,0.926857,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.216057,0.271397,0.183678,0.223242,0.072488,0.207635,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.452105,0.254771,1.000000,0.176517,0.159603,0.626053,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.229670,0.300033,0.277653,0.075244,0.223903,0.000000,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.321461,0.158882,0.704959,0.263974,0.108172,0.719653,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.268798,0.414172,0.706142,0.000000,0.097982,0.000000,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
99996,0.310518,0.563608,0.501110,0.051861,0.000000,1.000000,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99997,0.344206,0.389364,0.480973,0.009861,0.000000,0.521101,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99998,0.229657,0.097368,0.094925,0.000000,0.000000,0.088505,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99999,0.390555,0.164874,0.394983,0.000000,0.184443,0.138600,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
from Functions.original.utils.initialization import load_or_initialize
from Functions.original.utils.commandline import parse_int_list
from Functions.original.methods.general.generator import Generator


generator = Generator(
    128,
    [
    1, 1, 1, 1, 1, 1,
    5, 11, 2, 22, 6
  ],
    hidden_sizes=parse_int_list("256,128"),
    bn_decay=0.9
)

load_or_initialize(generator, options.input_generator)

In [2]:
generator = Generator(
    128,
    [
    1, 1, 1, 1, 1, 1,
    5, 11, 2, 22, 6
  ],
    hidden_sizes=parse_int_list("256,128"),
    bn_decay=0.9
)

load_or_initialize(generator, options.input_generator)

NameError: name 'Generator' is not defined