In [48]:
import pandas as pd
from Functions.original.utils.undo_dummy import back_from_dummies
import joblib

In [54]:
df1 = pd.read_pickle('data/gan_generated/sample_no_ei.pickle')
ss = joblib.load('data/gan_dataprep/scaler.pickle')
dftemp = pd.read_pickle('data/gan_dataprep/train_gan.pickle')
df1.columns = dftemp.columns
df1.head()

,VehPower,VehAge,DrivAge,Density,BonusMalus,Exposure,ClaimNb_0.0,ClaimNb_1.0,ClaimNb_2.0,ClaimNb_3.0,...,Region_R83,Region_R91,Region_R93,Region_R94,Area_A,Area_B,Area_C,Area_D,Area_E,Area_F
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [55]:
df1 = pd.DataFrame(ss.inverse_transform(df1), columns= df1.columns)

In [56]:
df1 = back_from_dummies(df1)

In [57]:
dftemp.head()

,VehPower,VehAge,DrivAge,Density,BonusMalus,Exposure,ClaimNb_0.0,ClaimNb_1.0,ClaimNb_2.0,ClaimNb_3.0,...,Region_R83,Region_R91,Region_R93,Region_R94,Area_A,Area_B,Area_C,Area_D,Area_E,Area_F
0,0.090909,0.0,0.513889,0.045039,0.0,0.097534,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.090909,0.0,0.513889,0.045039,0.0,0.769370,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.181818,0.1,0.472222,0.001963,0.0,0.749315,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.272727,0.0,0.388889,0.002778,0.0,0.087507,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.272727,0.0,0.388889,0.002778,0.0,0.839562,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0